@using StorageModels
@model TableProduct;

@{
    ViewData["Title"] = "Table";
}

<h1>Table Item</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <tr>
                <td>PartitionKey</td>
                <td>RowKey</td>
                <td>Etag</td>
                <td>Name</td>
                <td>Quantity</td>
                <td>Sale</td>
                <td>Timestamp</td>
                <td>Delete</td>
            </tr>            
                <tr>
                    <td>@Model.PartitionKey</td>
                    <td>@Model.RowKey</td>
                    <td>@Model.Quantity</td>
                    <td>@Model.ETag</td>
                    <td>@Model.Name</td>
                    <td>@Model.Sale</td>
                    <td>@Model.Timestamp</td>
                    <td>
                    <form asp-action="DeleteFile">
                        <input type="hidden" value="@Model.PartitionKey" name="partitionkey">
                        <input type="hidden" value="@Model.RowKey" name="rowkey">
                        <div class="form-group">
                            <input type="submit" value="Delete" class="btn btn-danger" />
                        </div>
                    </form>
                    </td>
                </tr>
            
        </table>
    </div>
</div>

<div>
    <br />
    <a asp-controller="Storage" asp-action="Containers">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
